#divnav {
  list-style-type: none;
  color: azure;
  background-color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  padding: 10px;
}
#divnav a{
  color: azure;
  padding: 10px;
}

/* Change the link color on hover */
#divnav :hover {
  background-color: rgb(255, 0, 0);
  color: azure;
  border: red;
  border-radius: 2px;
}
h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: red;
  color: azure;
  border: 3px rgb(0, 0, 0) solid;
  margin: 0% 20%;
  border-radius: 10px;
  text-align: center;
}

table {
  font-family: Arial, sans-serif;
  font-size: 20px;
  text-align: left;
  border-radius: 10px;
}

table th {
  background-color: rgb(255, 0, 0);
  color: #fff;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
}
table td {
  border: 3px solid rgb(0, 0, 0);
  background-color: #f2f2f2;
}
#potm{
  border: 3px solid rgb(0, 0, 0);
  background-color: #f2f2f2;
  margin-right: 10%;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  text-align: left;
}
footer{
  font-size: 31px;
  color: red;
  background-color: #f2f2f2;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
}
#drone{
  float: left;
}
#RecentGameTable{
  float: left;
}